<header class="site-header">
  <h1>
    <a href="{{ '/' | relative_url }}">The Dark Baby Angel</a>
  </h1>
  <nav>
    <a href="{{ '/' | relative_url }}">Home</a>
    <a href="{{ '/recipes/' | relative_url }}">Recipes</a>
    <a href="{{ '/witches/' | relative_url }}">Witches</a>
    <a href="{{ '/routine/' | relative_url }}">Routine</a>
    <a href="{{ '/tv-and-movies/' | relative_url }}">TV and Movies</a>
    <a href="{{ '/holidays/' | relative_url }}">Holidays</a>
    <a href="{{ '/diary/' | relative_url }}">Diary</a>
  </nav>
</header>